<div class="spacer">
</div>
<div class="card">
  <div class="card-left"></div>
  <div class="card-column" data-role="geo-update" data-serial="<%= @card.serial %>" data-id="<%= @card.id %>">
    <h1>You received a civility card!</h1>
    <h3>Your receipt has been logged at <span id="location"></span></h3>
    <%= simple_form_for(@card) do |f| %>
      <%= f.input :reason %>
    <%= f.button :submit %>
  <% end %>
  </div>
  <div class="card-right"></div>
</div>
<div class="spacer">
