<div class="spacer">
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">

    <div class="card">
      <div class="left"></div>
      <div class="" data-role="geo-update" data-serial="<%= @card.serial %>" data-id="<%= @card.id %>">
        <h1>You received a civility card!</h1>
        
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 card-action">
            <button type="button" id="getLocation" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
            Get my location
          </button>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 card-action">
            <button type="button" id="setManualLoc" class="btn btn-primary" autocomplete="off">
            Set location manually
          </button>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 card-action">
            <button type="button" id="setDefaultLoc" class="btn btn-primary" autocomplete="off">
            Defer location to OSU
          </button>

          </div>
        </div>

        <center>
        </center>

        <div id="manual-loc">
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="text" class="form-control" id="address" placeholder="Enter location">
            </div>
            <button type="button" class="btn btn-default" id="useAddress">Use this location</button>
          </form>
        </div>
        <div id="loc-status">
          <h3 class="loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Retrieving location, please wait...</h3>
          <h3 class="loc-info">Your receipt has been logged at <span id="location"></span></h3>

          <%= simple_form_for(@card) do |f| %>
            <%= f.input :reason, :label => "Why did you receive this civility card?" %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
      <div class="right"></div>
    </div>


  </div>
</div>

<div class="spacer"></div>
