<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1" id="civil_entries">
    <table class="table">
      <thead>
        <tr>
          <th>Card Number</th>
          <th>Received</th>
          <th>Location</th>
          <th>Reason</th>
          <% if current_user && current_user.admin? %>
            <th>Delete</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if !@civil_entries || @civil_entries.length == 0 %>
          There are currently no entries at this time."
        <% else %>
          <% @civil_entries.each do |civil_entry| %>
            <tr>
              <td><%= civil_entry.serial %></td>
              <td><%= civil_entry.created_at_formatted %></td> 
              <td><%= civil_entry.address %></td>
              <td><%= civil_entry.reason %></td>
              <% if current_user && current_user.admin? %>
                <td><%= link_to "Delete this Entry", review_path(civil_entry.id), :method => :delete %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
    <div id="civil-map"></div>
    <center>
      Want to know more about <a href="http://library.oregonstate.edu/civility">Civility at OSU</a>?
    </center>
  </div>
</div>
</div>

