<div class="row" id="navbar-img">
  <div class="col-xs-8">
    <a href="/">
      <%= image_tag "sunLogo.gif", :class => "pull-left",  :style => "height:100%; width:auto;" %>
    </a>
  </div>
  <div class="col-xs-4">
    <ul id="navlinks">
      <% if current_user %>
        <li class="link">
          <h4><%= link_to "Home", root_path %></h4>
        </li>
      <% end %>
      <li class="link">
        <h4><%= link_to "About", about_us_path %></h4>
      </li>
      <% if current_user && current_user.admin? %>
        <li class="link">
          <h4><%= link_to "Admin Panel", admin_index_path %></h4>
        </li>
      <% end %>
      <% if current_user %>
        <li class="link">
          <h4><%= link_to "Sign out", destroy_user_session_path %></h4>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row" id="title-row">
  <div class="col-xs-12">
    <div class="content" id="title">
      <h1>Welcome to the OSU Libraries and Press Civility Tracker</h1>
    </div>
  </div>
</div>
