<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render 'flashes' -%>
  <div id="main">
    <div class="page-content">
      <%= render :partial => "layouts/header" %>
      <%= yield %>
      <div class="push"></div>
    </div>
  </div>
  <%= render :partial => "layouts/footer" %>
  <%= render 'javascript' %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
</body>
</html>
